html{overflow-x:hidden; overflow-y:auto;}
body{font-size:63%;font-family:sans-serif;background-color:#fff;color:#303942;margin:0px;padding:0px;
overflow-x:hidden;
overflow-y:auto;
}
#loading{width:546px;background:#fff;text-align:center}
#loading IMG{margin:50px auto}

#tbl_links{font-size:1.2em;color:#303942;width:546px;margin:0px 0px 8px 0px;border-spacing:0;border-collapse:collapse;}
#tbl_links .col{padding:4px;vertical-align:top;color:#505962}
#tbl_links .c1{width:15px}
#tbl_links .c2{width:248px;overflow:hidden;}
#tbl_links .c3{width:248px;overflow:hidden;}
#tbl_links .t1,#tbl_links .t2{width:248px;overflow:hidden;}

.tr_head{height:28px;font-weight:bold;color:#505962;border:1px solid #E0E0E0; border-bottom:1px solid #eeeeee;background:-webkit-gradient(linear,0% 0,0% 100%,from(#f7f7f7),to(#eeeeee));}
.tr_item, .tr_h2, .tr_no{border:1px solid #EAEAEA;}
.tr_h2 td{font-weight:bold;background:#fefefe}
.tr_wait{border:1px solid #EAEAEA;height:350px;}
.tr_wait TD{background:#fff;TEXT-ALIGN:CENTER;}

.tr_bg1{background:#ffffff;border:1px solid #EAEAEA;}
.tr_bg2{background:#fdfdfd;border:1px solid #EAEAEA;}
#tbl_links tbody tr:hover{	background-color: #f7f7f7;color: #202932;}

.tag{color:#881280}
.https{color:#079500}
.na{color:#cccccc}

A{color:#1155CC;text-decoration: none;}

.tbl_linktext{margin:0px;padding:0px;border-spacing:0; border-collapse:collapse;width:248px;}
.tbl_linktext td{clear:both;padding:0px 4px 4px 0px;vertical-align:top}
.tbl_linktext .l1{width:15px}
.tbl_linktext .l2{width:230px;overflow:hidden;}

/*
#lbl_length{text-align:center;white-space:nowrap;}
.td_subject{width:130px;font-weight:bold;color:#505962}
.td_info{width:370px;word-wrap: break-word; word-break: break-all;}
.td_num{text-align:center}


*/