/* Will be compiled down to a single stylesheet with your sass files */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.svg#icomoon") format("svg"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 53, ../../app/styles/main.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
}

/* line 58, ../../app/styles/main.scss */
.dropdown:after {
  font-family: 'icomoon';
  content: "\e002";
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px;
}

/* line 63, ../../app/styles/main.scss */
.checkbox:before {
  font-family: 'icomoon';
  content: "\e003";
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}

/* line 68, ../../app/styles/main.scss */
.checkbox.checked:before {
  content: '\e004';
  margin-right: 10px;
}

/* line 73, ../../app/styles/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 80, ../../app/styles/main.scss */
body {
  font-family: 'Cabin', Arial;
  color: white;
  background-color: #e3e3e3;
}

/* line 86, ../../app/styles/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 91, ../../app/styles/main.scss */
.header-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 100, ../../app/styles/main.scss */
.canvas-block {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
/* line 102, ../../app/styles/main.scss */
.canvas-block canvas {
  width: 768px;
  height: 768px;
  margin: 80px 10px 10px 10px;
  border: solid 1px #bbb;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: width 0.5s, height 0.5s;
  -moz-transition: width 0.5s, height 0.5s;
  -ms-transition: width 0.5s, height 0.5s;
  -o-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  overflow: hidden;
}

/* line 117, ../../app/styles/main.scss */
header {
  position: relative;
  padding: 5px 1%;
  width: 98%;
  color: #e74c3c;
  background-color: #fff;
  border-top: 3px solid #e74c3c;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 127, ../../app/styles/main.scss */
header h1 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
}
/* line 132, ../../app/styles/main.scss */
header h5 {
  font-weight: normal;
}
/* line 136, ../../app/styles/main.scss */
header h1, header h5 {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
}

/* line 143, ../../app/styles/main.scss */
.options {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
/* line 151, ../../app/styles/main.scss */
.options button {
  display: inline-block;
  float: left;
  padding: 0 5px;
  width: 100px;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
/* line 165, ../../app/styles/main.scss */
.options button:hover {
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2) inset;
}
/* line 169, ../../app/styles/main.scss */
.options button:nth-child(1), .options button:nth-child(7) {
  background-color: #e74c3c;
}
/* line 173, ../../app/styles/main.scss */
.options button:nth-child(2), .options button:nth-child(6) {
  background-color: #E95E50;
}
/* line 177, ../../app/styles/main.scss */
.options button:nth-child(3), .options button:nth-child(5) {
  background-color: #EC7063;
}
/* line 181, ../../app/styles/main.scss */
.options button:nth-child(4) {
  background-color: #EE8277;
}

/* line 187, ../../app/styles/main.scss */
.dropdown-panel {
  position: fixed;
  display: none;
  padding: 10px 0;
  min-width: 100px;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  text-align: left;
  z-index: 99;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 199, ../../app/styles/main.scss */
.dropdown-panel ul {
  padding: 0;
  margin: 0;
}
/* line 202, ../../app/styles/main.scss */
.dropdown-panel ul li {
  list-style-type: none;
  padding: 5px 20px;
  cursor: pointer;
}
/* line 207, ../../app/styles/main.scss */
.dropdown-panel ul li:hover {
  color: white;
  background-color: #EE8277;
}
/* line 214, ../../app/styles/main.scss */
.dropdown-panel input {
  width: 50px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  font-size: inherit;
  padding: 5px;
  outline: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
/* line 223, ../../app/styles/main.scss */
.dropdown-panel input[type=color] {
  vertical-align: middle;
}

/* line 228, ../../app/styles/main.scss */
.images {
  position: relative;
  display: none;
  padding: 0;
  width: 100%;
  height: 120px;
  background-color: #D04436;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1) inset;
}
/* line 238, ../../app/styles/main.scss */
.images img {
  height: 100px;
  margin: 10px 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -webkit-transform 0.3s;
  -ms-transition: -webkit-transform 0.3s;
  -o-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
}
/* line 244, ../../app/styles/main.scss */
.images img:hover {
  -webkit-transform: scale(1.5, 1.5);
}

/* line 250, ../../app/styles/main.scss */
.progress {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

/* line 257, ../../app/styles/main.scss */
#progress-bar {
  display: none;
  border-radius: 0 3px 3px 0;
  height: 10px;
  background-color: #ee5f5b;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 40px 40px;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
}

@-webkit-keyframes progress-bar-stripes {
  /* line 270, ../../app/styles/main.scss */
  from {
    background-position: 40px 0;
  }

  /* line 273, ../../app/styles/main.scss */
  to {
    background-position: 0 0;
  }
}

/* line 278, ../../app/styles/main.scss */
.move-cursor {
  cursor: move;
}

/* line 282, ../../app/styles/main.scss */
#img-download {
  display: none;
}

/* line 286, ../../app/styles/main.scss */
footer {
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

/* line 293, ../../app/styles/main.scss */
.scrollbar {
  position: absolute;
  padding: 0;
  bottom: 0;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
}
/* line 301, ../../app/styles/main.scss */
.scrollbar:hover, .scrollbar.active {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
}




#noImages {
  margin:20px 20px;
}

#premium {
  margin:10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}