.evalSession1WindowIdx
{
    min-width: 125px;
    position: absolute;
    padding: 6px;
    background: #fff;
    box-shadow: 0px 0px 6px hsl(0, 0%, 45%);
    border-radius: 2px;
    z-index: 6000;
    white-space: nowrap;
}

.serializeSessionTransactions
{
    padding: 9px 14px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
}

.serializeSessionTransactions:not([disabled]):hover
{
    background-color: hsl(223, 26%, 42%);
    background-color: hsl(223, 30%, 43%);
    background-color: hsl(223, 90%, 65%);
    color: #fff;
}

.serializeSessionTransactions[disabled]
{
    color: hsl(0, 0%, 72%);
}

.serializeSessionTransactions[disabled]:hover
{
    background-color: transparent;
    cursor: default;
}

.sessionConfig1
{
    background-color: hsl(0, 0%, 86%);
    display: block;
    height: 1px;
    width: 100%;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sbButton
{
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    color: hsl(0, 0%, 26%);
    -webkit-user-select: none;
    height: 30px;
    line-height: 30px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    transition: border-color .05s linear;
}

.sbButton[data-type="2"]
{
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    color: hsl(0, 0%, 26%);
    -webkit-user-select: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
}

.sbButton[data-type="5"]
{
    border-style: solid;
    border-width: 1px;
    color: hsl(0, 0%, 26%);
    -webkit-user-select: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: hsl(0, 0%, 53%);
    border-color: hsl(0, 0%, 53%);
}

.isFocused .sbButton[data-type="5"]
{
    background-color: hsl(223, 80%, 65%);
    border-color: hsl(223, 80%, 65%);
}

.sbButton[data-type="3"]
{
    z-index: 600000;
    position: relative;
    border-style: solid;
    border-color: hsl(0, 0%, 85%);
    border-color: hsl(223, 46%, 69%);
    border-color: #fff;
    border-width: 1px;
    color: hsl(0, 0%, 26%);
    color: hsl(233, 46%, 54%);
    color: hsl(0, 0%, 20%);
    -webkit-user-select: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
}

.sbButton[data-type="4"]
{
    z-index: 600000;
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    color: hsl(0, 0%, 26%);
    color: hsl(233, 46%, 54%);
    color: #000;
    -webkit-user-select: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
}

.sbButton[disabled]
{
    opacity: .6;
}

.sbButton[disabled][data-type="2"]
{
    opacity: .6;
    cursor: default;
}

.sbButton[disabled][data-type="5"]
{
    opacity: .6;
    cursor: default;
    background-color: hsl(0, 0%, 73%);
    border-color: hsl(0, 0%, 73%);
}

.sbButton[disabled][data-type="3"]
{
    color: hsl(0,0%,65%) !important;
    border-color: #fff;
    background-color: transparent;
    cursor: default;
    opacity: 1;
}

.sbButton[disabled][data-type="4"]
{
    color: hsl(0,0%,65%) !important;
    border-color: #fff;
    background-color: transparent;
    cursor: default;
    opacity: 1;
}

.iTextAreaVal
{
    border-width: 1px;
}

.evalSessionStatVal
{
    border-width: 1px;
}

.iTextAreaVal[data-type="2"]
{
    border-width: 1px 0px 1px 1px;
    border-right: 1px solid hsl(0, 0%, 90%);
}

.evalSessionStatVal[data-type="2"]
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-width: 1px 1px 1px 0px;
}

.iTextAreaVal[data-type="5"]
{
    border-width: 1px 0px 1px 1px;
    border-right: 1px solid hsl(0, 0%, 90%);
}

.evalSessionStatVal[data-type="5"]
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-width: 1px 1px 1px 0px;
}

.iTitleTextVal
{
    border-color: hsl(206, 3%, 80%);
}

.iTitleTextVal[data-type="2"]
{
    border-color: hsl(0, 0%, 53%);
}

.isFocused .iTitleTextVal[data-type="2"]
{
    border-color: hsl(223, 80%, 65%);
}

.isFocused .iTitleTextVal[data-type="5"]
{
    background-color: hsl(223, 60%, 55%);
    border-color: hsl(223, 60%, 55%);
}

.iTitleTextVal[data-type="5"]
{
    background-color: hsl(0, 0%, 45%);
    border-color: hsl(0, 0%, 45%);
}

.iTitleTextVal[data-type="3"]
{
    border-color: hsl(0, 0%, 80%);
}

.iTitleTextVal[data-type="4"]
{
    border-color: hsl(0, 0%, 80%);
}

.idx3Val
{
    border-color: hsl(0, 0%, 93%);
    background: hsl(0, 0%, 93%);
}

.idx3Val[data-type="2"]
{
    border-color: hsl(216, 70%, 70%);
    background-color: hsl(223, 86%, 94%) !important;
}

.idx3Val[data-type="5"]
{
    background-color: hsl(223, 60%, 55%) !important;
    border-color: hsl(223, 60%, 55%) !important;
}

.idx3Val[data-type="3"]
{
    border-color: hsl(0, 0%, 85%);
    background: hsl(0, 0%, 85%);
}

.idx3Val[data-type="4"]
{
    border-color: hsl(0, 0%, 85%);
    background: hsl(0, 0%, 85%);
}

.iFlashCount
{
    border-color: hsl(0, 0%, 93%);
    background: hsl(0, 0%, 93%);
}

.iFlashCount[data-type="2"]
{
    border-color: hsl(216, 70%, 70%);
    background-color: hsl(223, 86%, 94%) !important;
}

.iFlashCount[data-type="5"]
{
    background-image:url(/images/dsor.gif) !important;
}

.iFlashCount[data-type="3"]
{
    border-color: hsl(0, 0%, 85%);
    background: hsl(0, 0%, 85%);
}

.iFlashCount[data-type="4"]
{
    border-color: hsl(0, 0%, 85%);
    background: hsl(0, 0%, 85%);
}

.invisible
{
    display: none;
}

.visible
{
    display: inline-block;
}

.invisible[data-type]
{
    display: none;
}

.visible[data-type]
{
    display: inline-block;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

    .iFlashCount[data-type="5"]
    {
        background-image:url(/images/retina/dsor.gif) !important;
        background-size: 11px;
    }

}

.startsWithVal {
    border-right-color: hsl(0, 0%, 53%) !important;
}

.isFocused .startsWithVal {
    border-right-color: hsl(216, 70%, 70%) !important;
}
